/* plus-jakarta-sans-regular - latin */
@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/plus-jakarta-sans-v3-latin-regular.woff2') format('woff2'), Super Modern Browsers
    url('../fonts/plus-jakarta-sans-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
}
/* plus-jakarta-sans-500 - latin */
@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/plus-jakarta-sans-v3-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/plus-jakarta-sans-v3-latin-500.woff') format('woff'), /* Modern Browsers */
}
/* plus-jakarta-sans-600 - latin */
@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('../fonts/plus-jakarta-sans-v3-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/plus-jakarta-sans-v3-latin-600.woff') format('woff'), /* Modern Browsers */
}
/* plus-jakarta-sans-700 - latin */
@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/plus-jakarta-sans-v3-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/plus-jakarta-sans-v3-latin-700.woff') format('woff'), /* Modern Browsers */
}

:root{
    --main-text-color: #101010;
    --main-text-title-color: #636F87;
    --section-bg-color:#F2F4F6;
    --box-color:#1AAB7B;
}

*{
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    
}

.container{
    max-width: 1256px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    
}

/* Header Style Start */

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 31px;
    
}

.logo-svg{
    color: #191919;
    
}

.logo-svg:hover{
    opacity: 0.8;
}

.logo-svg:active{
    opacity: 0.6;
}

.header-start{
    display: flex;
    align-items: center;
}

.navbar-list{
    display: flex;
    list-style: none;
}

.navbar-item-link{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-decoration: none;
    color: var(--main-text-color);
    margin-right: 30px;
}

.navbar-item-link:hover{
    color: #1AAB7B;
}

.navbar-item-link:active{
    color: #1AAB7B;
    opacity: 0.6;
}

.header-link{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    background: var(--main-text-color);
    border-radius: 6px;
    padding: 12px 24px;  
}

.header-link:hover{
    color: #1AAB7B;
    background: #FFFFFF;
    border: 1px solid #1AAB7B;;
}
.header-link:active{
    color: #FFFFFF;
    background: #101010;
    opacity: 0.6;
    border: none;
}

.line-header{
    border: 1px solid var(--section-bg-color);
}

/* Header Style End */


/*********** Main Style Start ***********/
/****** Hero Section Style Start ******/
.hero-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 92px;
    padding-bottom: 156px;
}

.hero-title{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 140%;
    color: var(--main-text-color);
    margin: 0;
}

.hero-desc{
    font-size: 18px;
    line-height: 150%;
    color: var(--main-text-title-color);
    margin-top: 20px;
    margin-bottom: 60px;
    width: 537px;
}

.hero-more{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    
    background: #1AAB7B;
    border-radius: 6px;
    padding: 20px 40px;
    
}

.hero-section-video{
    margin-left: 74px;
}

.you-tube-video{
    border-radius: 6px;
}
/****** Hero Section Style End ******/
/********** Main Style End **********/
